{% extends 'PublilingusAdminBundle::layout.html.twig' %}

{% block title %}{% trans "homepage.titre" %} - Admin{% endblock %}

{% block pageTitre %}{% trans 'homepage.soustitre' %}{% endblock %}

{% block content %}
    <div>
        
    </div>
{% endblock %}


